.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.markdown-section {
  flex: 1 1 0%;
  margin: 0 48px;
}
.nav {
  width: var(--toc-width, 200px);
  align-self: flex-start;
  flex: 0 0 auto;
}
aside.nav.nothing {
  width: 0;
}
.page_toc {
  position: fixed;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.07);
  border-image-slice: 1;
  padding-left: 15px;

}
.page_toc p.title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.2em;
}
.page_toc .anchor:hover:after {
  content: "";
}
.page_toc div[class^="lv"] a:hover span {
  color: var(--text-color-tertiary, #42b983);
}
.page_toc div[class^="lv"] a {
  color: var(--text-color-base, black);
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6em;
}
.page_toc div.lv1 {
  margin-left: 0px;
}
.page_toc div.lv2 {
  margin-left: 10px;
}
.page_toc div.lv3 {
  margin-left: 20px;
}
.page_toc div.lv4 {
  margin-left: 30px;
}
.page_toc div.lv5 {
  margin-left: 40px;
}

@media screen and (max-width: 1300px) {
  .page_toc {
    position: relative;
    left: 0;
    top: -20px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 1.0em;
  }
  .page_toc a:before {
    content: "- ";
  }
  .nav {
    margin: 0 auto;
    width: 800px;
  }
  .page_toc p.title {
    font-weight: 300;
    font-size: 1.8em;
  }
  .content {
    display: block;
  }
  .markdown-section {
    margin: 0 auto;
  }
